.recipe-container {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
}

.recipe-video-wrapper {
    background-color: #D9D9D9;
    width: 100%;
    height: 500px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 3px;
}

.recipe-video-wrapper {
    width: 100%;
}

.recipe-video-title {
    width: 100%;
    padding-top: 20px;
    margin: 0;
    text-align: left;
    font-family: HindBold;
    font-size: 35px;
    letter-spacing: 1px;
}

.recipe-video-info {
    font-size: 15px;
    width: 100%;
    margin: 0;
    text-align: left;
    font-family: HindLight;
    opacity: .5;
    letter-spacing: 1px;
}

.recipe-video-desc {
    width: 100%;
    font-size: 15px;
    font-family: HindLight;
    letter-spacing: 1px;
    text-align: left;
    
}

.recipe-video-comment-input {
    padding-top: 30px;
    border-radius: 2px;
    border: none;
    border: solid .2px black;
    padding: 15px;
    width: 50%;
    opacity: .33;
}

.recipe-video-comment-input::placeholder {
    font-family: HindLight;
    color: black;
    opacity: .48;
    font-size: 15px;
    padding: 10px;
}

.recipe-video-comment-wrapper {
    
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
}

.recipe-video-comment-input {
    text-align: left;
    position: relative;
    margin: 0;
    font-family: HindLight;
    padding: 10px;
    border-radius: 10px;
}

.recipe-comments-divider {
    position: relative;
    height: 1px;
    width: 100%;
    background-color: black;
    opacity: .24;
}

.recipe-comments-divider {
    width: 50%;
    height: 1px;
    background-color: black;
    margin: auto;
}

.recipe-video-comments-container {
    width: 100%;
    height: auto;
    
    
}

.recipe-video-comment-item {
    width: 100%;
    height: auto;
    background-color: #FAF8F8;
    margin-top: 50px;
    border-radius: 10px;
}

.recipe-video-comment-item-author {
    text-align: left;
    font-family: HindBold;
    font-size: 24px;
    margin: 0;
    padding: 20px;
    padding-bottom: 0;
}

.recipe-video-comment-item-author-rank {
    text-align: left;
    font-size: 14px;
    margin: 0;
    padding: 20px;
    padding-bottom: 0;
    letter-spacing: 1px;;
    padding-top: 5px;
}


.recipe-video-comment-item-date {
    text-align: left;
    font-size: 14px;
    font-family: HindLight;
    opacity: .25;
    margin: 0;
    padding: 20px;
    padding-bottom: 0;
    letter-spacing: 1px;
     padding-top: 5px;
}

.recipe-video-comment-item-desc {
    text-align: left;
    margin: 0;
    padding: 20px;
    font-family: HindLight;
    letter-spacing: 1px;;
}

@font-face {
  font-family: 'HindBold';
  src: url('../../assets/fonts/hind/Hind-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'HindLight';
  src: url('../../assets/fonts/hind/Hind-Light.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}