.recipeDetail-container {
  padding: 40px;
  margin: auto;
}

.comment-card {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.recipeDetail-actions {
  margin-top: 20px;
  text-align: left;
}

.date-wrapper {
  width: 100%;
  
  text-align: left;
}

.delete-review-btn-wrapper {
  width: 100%;

  text-align: left;
}

.comment-input::placeholder {
    font-family: hindlight;
    letter-spacing: 1px;
    padding-left: 10px;
}

.comment-input {
    border-radius: 3px;
    resize: none;
    
}

.recipeDetail-actions button {
  margin-right: 10px;
  padding: 10px 16px;
  background-color: #363131;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: HindLight;
  text-align: center;
  letter-spacing: 1px;
  width: 20%;
}

.recipeDetail-actions button:hover {
  background-color: #645dc1;
}

.recipeDetail-profile-container {
  display: flex;
  width: 100%;
  margin: auto;
}

.recipeDetail-logout-btn-wrapper {
  height: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  text-align: left;
}

.recipeDetail-logout-btn {
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 100%;
  background-color: #ea261c;
  border: none;
  height: 35px;
  color: white;
  font-family: HindLight;
  font-size: 14px;
  letter-spacing: 0.5px;
  border-radius: 5px;
  margin: auto;
}

.recipeDetail-profile-sec2-fullName {
  font-size: 30px;
  font-family: HindLight;
  text-align: left;
  letter-spacing: 0.5px;
  height: auto;
  margin-bottom: 0;
  margin-top: 40px;
}

.recipeDetail-profile-sec2-icon {
  font-family: HindMedium;
  font-size: 15px;
  text-align: left;
  letter-spacing: 0.5px;
  color: #d7352d;
  height: auto;
  margin-top: 0;
}

.recipeDetail-profile-sec-3-editProfile {
  font-family: HindRegular;
  font-size: 14px;
  opacity: 0.49;
  padding: 5px;
  width: 100%;
  height: auto;
  z-index: 0;
  text-align: left;
  padding-top: 20px;
  cursor: pointer;
}

.recipeDetail-profile-sec2-wrapper {
  padding-left: 30px;
  width: 20%;
}

.recipeDetail-body-container {
  width: 100%;
  height: auto;
}

.recipeDetail-logout-message {
  font-size: 20px;
  font-family: HindLight;
}

.recipeDetail-body-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0px 0px;
}

.recipeDetail-body-grid-item {
  background-color: white;
  margin-bottom: 0;
  height: 500px;
  min-height: 500px;
}

.top-recipe-title {
  text-align: left;
  font-size: 28px;
  font-family: HindLight;
  letter-spacing: 1px;
  padding-bottom: 25px;
}

.top-recipe-image {
  display: block;
  cursor: pointer;
}

.top-recipe-name {
  text-align: left;
  margin-bottom: 0;
  font-size: 20px;
  font-family: HindBold;
  letter-spacing: 1px;
  padding-top: 30px;
}

.top-recipe-desc {
  text-align: left;
  margin-top: 5px;
  font-size: 16px;
  width: 55%;
  font-family: HindLight;
  letter-spacing: 1px;
}

.top-recipe-desc-err {
  text-align: center;
  margin-top: 5px;
  font-size: 16px;
  width: 55%;
  font-family: HindLight;
  letter-spacing: 1px;
  opacity: 0.3;
}

.edit-profile-form-input-wrapper {
  padding-bottom: 20px;
}

.edit-profile-form {
  text-align: left;
  margin-left: 30px;
  padding-top: 20px;
}
.edit-form-item-input {
  border: none;
  display: block;
  margin-top: 15px;
  background-color: #f9f6f6;
  padding: 15px;
  border-radius: 5px;
  width: 50%;
  font-family: HindBold;
  font-size: 14px;
  letter-spacing: 1px;
}

.edit-profile-form-label {
  width: 100%;
  height: auto;
  text-align: left;
  margin: 0;
  font-family: HindBold;
  font-size: 15px;
  letter-spacing: 1px;
}

.recipeDetail-body-analytic-title {
  text-align: left;
  font-size: 28px;
  font-family: HindLight;
  letter-spacing: 1px;
  padding-bottom: 25px;
}

.recipeDetail-body-analytic-grid {
  width: 45%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10%;
}


.recipeDetail-body-analytic-grid-item1 {
  width: 251px;
  height: 151px;
  background-color: #f94932;
  border-radius: 6px;
  color: white;
}

.recipeDetail-body-analytic-grid-item2 {
  width: 251px;
  height: 151px;
  background-color: #f9d132;
  border-radius: 6px;
  color: white;
}

.recipeDetail-body-analytic-grid-item3 {
  width: 251px;
  height: 151px;
  background-color: #f932de;
  border-radius: 6px;
  color: white;
}

.recipeDetail-body-analytic-grid-item4 {
  width: 251px;
  height: 151px;
  background-color: #3261f9;
  border-radius: 6px;
  color: white;
}

.analytic-grid-item-stat {
  font-size: 4cqmin;
  font-family: HindMedium;
  letter-spacing: 1px;
  text-align: left;
  padding-left: 25px;
  margin-bottom: 0;
}

.analytic-grid-item-statType {
  font-size: 20px;
  font-family: HindLight;
  letter-spacing: 1px;
  text-align: left;
  padding-left: 25px;
  margin-top: 0;
}

.recipeDetail-body-recipes-title {
  font-size: 28px;
  font-family: HindLight;
  text-align: left;
  letter-spacing: 1px;
}

.rating-scale {
    
    width: 100%;
    text-align: left;
    float: left;
    font-family: HindLight;
    letter-spacing: 1px;
}

.recipeDetail-body-revenue-title {
  font-size: 28px;
  font-family: HindLight;
  text-align: left;
}

.recipeDetail-body-recipes-filters-container {
  width: 100%;
  display: flex;
  height: auto;
  padding-top: 15px;
  margin-bottom: 50px;
}

.filter-newer {
  width: 110px;
  height: 42px;
  color: black;
  background-color: #ebebeb;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-family: HindMedium;
  letter-spacing: 1px;
  cursor: pointer;
}

.filter-older {
  width: 110px;
  height: 42px;
  color: black;
  background-color: #ebebeb;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-family: HindMedium;
  letter-spacing: 1px;
  margin-left: 20px;
  cursor: pointer;
}

.filter-top {
  width: 110px;
  height: 42px;
  color: black;
  background-color: #ebebeb;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-family: HindMedium;
  letter-spacing: 1px;
  margin-left: 20px;
  cursor: pointer;
}

.recipeDetail-body-recipes-list-search-btn-wrapper {
  width: 100%;
  margin-top: 25px;
  text-align: left;
  padding-bottom: 20px;
}

.filter-user-search {
  width: 40%;
  padding-right: 40px;
  padding-left: 10px;
  height: 40px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filter-user-search::placeholder {
  font-family: HindBold;
  padding: 15px;
  font-size: 14px;
  letter-spacing: 1px;
  opacity: 0.6;
}

.recipeDetail-body-recipes-list-container {
  width: 100%;
  height: auto;
}

.recipeDetail-body-recipes-item {
  width: 50%;
  height: auto;
  
}

.back-btn {
  border: none;
  font-family: HindLight;
  width: 5%;
  min-width: 100px;
  cursor: pointer;
  background-color: #363131;
  border-radius: 3px;
  color: white;
  letter-spacing: 1.5px;
  padding: 8px;
  
}

.recipeDetail-body-recipes-title-backbtn-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.recipeDetail-body-recipes-user-title {
    margin-top: 0;
    text-align: left;
    font-family: HindBold;
    font-size: 14px;
}

.recipeDetail-body-recipes-item-title {
  font-size: 17px;
  font-family: HindBold;
  text-align: left;
  margin-bottom: 5px;
  letter-spacing: 0.5px;
}

.recipeDetail-body-recipes-item-desc {
  font-size: 20px;
  font-family: HindLight;
  text-align: left;
  margin-top: 0px;
  letter-spacing: 1px;
}


.recipeDetail-body-recipes-item-desc-details {
  font-size: 15px;
  font-family: HindLight;
  text-align: left;
  margin-top: 0px;
  letter-spacing: 1px;
}

.boldStrong {
    font-family: hindbold;
}

.recipeDetail-body-revenue-stats-container {
  width: 100%;
  height: auto;
  display: flex;
  gap: 25%;
}

.recipeDetail-body-current-month-revenue,
.recipeDetail-body-total-revenue {
  font-size: 23px;
  font-family: HindMedium;
  text-align: left;
  letter-spacing: 0.5px;
}

.currentMonth,
.totalRevenue {
  font-family: HindLight;
  text-align: left;
  font-size: 23px;
  letter-spacing: 0.5px;
}

.recipeDetail-body-recipes-item-delete-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  border: none;
  padding: 15px;
  width: 20%;
  color: white;
  height: 30px;
  border-radius: 5px;
  font-family: HindLight;
  letter-spacing: 1px;
  background-color: #df0b0b;
  cursor: pointer;
}

.recipeDetail-body-recipes-item-delete-btn-wrapper {
  width: 100%;
}

.fade-in {
  animation: fadeIn 0.6s ease-in-out forwards;
  opacity: 0;
}

.no-recipes-msg {
  font-family: HindLight;
  text-align: left;
  letter-spacing: 1px;
  opacity: 0.5;
}

.active-filter {
  background-color: black; /* Match your theme */
  color: white;
  border: none;
  transition: background-color 0.3s;
}



@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@font-face {
  font-family: "HindLight";
  src: url("../../assets/fonts/hind/Hind-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HindRegular";
  src: url("../../assets/fonts/hind/Hind-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HindMedium";
  src: url("../../assets/fonts/hind/Hind-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "HindBold";
  src: url("../../assets/fonts/hind/Hind-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}